<!DOCTYPE html>
<html>
    <header>
        <div class="row">
          <div>
            <img src="../assets/logo.jpg" alt="logo" width=100px>
          </div>
          <div class="row">
            <div class="col-sm-10">
              Caja Petrolera de Salud
            </div>
            <div class="logo">Departamento Nacional de Recursos Humanos</div>
          </div>
        </div>
      </header>
      <div align="center">
          <h2>Sistema de Vacaciones</h2>
        </div>

<body>

    <div align="center"><h6>INGRESE AL SISTEMA</h6></div>

  <div class="container-fluid">

      <div class="wrap">
        
        <div class="input-group">
          <input class="input-box" type="text" id="usuario" name="usuario" placeholder="Username" required>
        </div>
        <div class="input-group">
            <input class="input-box" type="password" id="psw" name="password" placeholder="Username" required>
        </div>
      <div>
        <a href="http://localhost:4200/principal" class="btn btn-lg btn-block btn-success" role="button">INGRESAR</a>
    </div>
  </div>
    </div>

 
</body>
</html>