<!DOCTYPE html 5>
<html>
<header>
  <div class="row">
    <div>
      <img src="../assets/logo.jpg" alt="logo" width=100px>
    </div>
    <div class="row">
      <div class="col-sm-10">
        Caja Petrolera de Salud
      </div>
      <div class="logo">Departamento Nacional de Recursos Humanos</div>
    </div>
  </div>
</header>
<div align="center">
  <h2>Sistema de Vacaciones</h2>
</div>

<div class="nav col-lg-12">
  <a href="#" class="btn btn-success">WebSiteName</a>
  <a href="#" class="btn btn-success">jfhfdhfhfjdhfj</a>
  <a href="#" class="btn btn-success">Page 2</a>
  <a href="#" class="btn btn-success">Page 3</a>
</div>
   </html>